<{include file='../common/header.htm'}>
<article class="article boxsize">
	<h2><{$model['title']}></h2>
	<div class="article-ctit">
		<span><{date('Y/m/d',$model['created_at'])}></span><span>颜究院</span>
	</div>
<!-- 	<p>真魅博客在化妆品成分分析，肌肤问题解决与产品推荐，以及行业评论方面已累积了大量文章，多年来将数以万计的读者带入了科学及理性护肤的大门。</p>
	<p><img src="http://placehold.it/640x200" alt=""></p>
	<p>真魅博客在化妆品成分分析，肌肤问题解决与产品推荐，以及行业评论方面已累积了大量文章，多年来将数以万计的读者带入了科学及理性护肤的大门。</p>

	<div class="xgsp">
 		<h5 class="link-tit">点击查看相关商品</h5>
		<a href="">
			<img src="http://placehold.it/120x120" alt="">
			<div class="link-m">
				<h6 class="ell">Calvin Calvin Calvin</h6>
				<div class="price">参考价：￥123/100ML</div>
				<div class="star">
					<i class="icon ico-star"></i>
					<i class="icon ico-star"></i>
					<i class="icon ico-star"></i>
					<i class="icon ico-star"></i>
				</div>
			</div>
			<i class="icon ico-r"></i>
		</a>				
	</div>
-->
	<{$model['content']}>
</article>
<{include file='../common/footer.htm'}>
