
<{if $type == "product"}>

    <!-- 品牌产品 -->
    <div class="brand-product">
        <h2><span class="icon-brand-detail-hd04">品牌产品</span></h2>
        <div class="pro-box">
            <ul class="clearfix">
                <{if $list['list']}>
                    <!--产品列表-->
                    <{include file='../common/product_list.htm' list = $list['list'] type = 'details'}>
                <{/if}>
            </ul>
        </div>
    </div>
    <!-- 分页 -->
    <div class="pages-item">
        <ul class="pagination">
            <{if $list['pageCount'] > 1 }>
                <li class="prev disabled" data-page="<{if $list['page']-1 != 0}><{$list['page']-1}><{else}><{/if}>"><a href="javascript:void(0)">上一页</a></li>
                <{for $foo=$list['min_page'] to $list['max_page'] }>
                    <li class="<{if $list['page'] == $foo }>active<{/if}>" data-page="<{$foo}>"><a href="javascript:void(0)" target=""><{$foo}></a></li>
                <{/for}>
                <li class="next" data-page="<{if $list['page'] < $list['pageCount']}> <{$list['page']+1}><{else}><{/if}>"><a href="javascript:void(0)">下一页</a></li>
            <{/if}>
        </ul>
    </div>

<{elseif $type == "article"}>

    <{if $list['list'] }>
    <{foreach key=key from=$list['list'] item=article }>
    <li>
        <a href="<{Yii::$app->urlManager->createUrl(['article/details','id'=>$article['id'] ])}>" title="" target="_blank" class="pro-name ell"><i class="icon-num-<{$key+1}>"></i><{$article['title']}></a>
        <div class="art-show">
            <a href="<{Yii::$app->urlManager->createUrl(['article/details','id'=>$article['id'] ])}>" title="" target="_blank">
                <img src="<{$GLOBALS['uploadsUrl']}><{$article['article_img']}>">
                <span class="opacity-txt"><{$key+1}>.<{$article['title']}></span>
            </a>
        </div>
    </li>
    <{/foreach}>
    <{/if}>

<{/if}>


