<div class="float-dow">
    <img src="<{$GLOBALS['static_path']}>images/logo.png" alt="" class="dow-logo">
    <span>她们说，有的聊~</span>
	<!--<{if $GLOBALS['equipment'] == 'IOS'}>-->
         <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.miguan.mgcommunity"><img src="<{$GLOBALS['static_path']}>images/dow.png" alt="去下载APP"></a>
	<!--<{elseif $GLOBALS['equipment'] == 'Android'}>-->
         <a href="http://app.qq.com/#id=detail&appid=1105772520"><img src="<{$GLOBALS['static_path']}>images/dow.png" alt="去下载APP"></a>
  	<!--<{/if}>-->
    <i class="dow-close js-close"></i>
</div>