<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><{$huoDongdInfo['name']}></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="MobileOptimized" content="320">
    <meta  name="applicable-device" content="mobile">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <!-- DNS预解析 常用于图片URL 静态资源URL -->
    <link rel="dns-prefetch" href="//">
    <link rel="stylesheet" href="<{$static_path}>css/style.min.css">
</head>
<body class="index-page">
<div class="top-bar">
   <span class="txt">已有<i><{$playedNum}></i>人参与活动</span>
   <a href="javascript:void(0)" class="rule-btn rule-toggle">查看规则</a>
</div>
<div class="page-tit"></div>
<div class="prize-box animated lightSpeedIn">
    <div class="free-tip"></div>
</div>
<div class="get-info">
    <a href="javascript:void(0)" class="get-btn scale" id="get_prize">免费领取</a>
    <p>已有<i><{$drawNum}></i>人获得奖品，快快来参加</p>
</div>
<p class="footer">本活动所有解释权归颜究院所有</p>
<!-- 活动规则 -->
<div class="rulebox-dia">
    <span class="rule-close rule-toggle"></span>
    <div class="tab">
        <div class="btn">
            <span class="active">活动规则</span>
            <span>奖励说明</span>
        </div>
        <span class="active-line pos1"><i></i></span>
    </div>
    <div class="tab-con active">
        <h3>参与步骤</h3>
        <p>
            ①下载app，在app内进入活动页<br>
            ②在活动页，点击“免费领取”，并选择微信好友或朋友圈发送你的助攻页<br>
            ③微信好友进入你分享的助攻页，点击“助攻”按钮，即可成功为你助攻<br>
            ④在微信查看你的助攻页，当助攻值达到100%时，页面提示“助攻人数已满”<br>
            ⑤即可返回app活动页内，点击“免费领取”按钮，填写收件信息
        </p>
        <h3>注意事项</h3>
        <p>
            ①一个用户限领一份奖品<br>
            ②活动按期进行，本期奖品不限量，你要，颜究院就给<br>
            ③活动时间：2017.9.18-2017.9.28<br>
            ④奖品将在活动结束后5个工作日内寄出，中奖者请务必填写收件信息，未填写者视为自动放弃<br>
            ⑤本活动最终解释权归颜究院所有
        </p>
    </div>
    <div class="tab-con">
        <p>
            ①本期奖品为碧柔卸妆水，200mL<br>
            ②奖品不限量，只要你完成助攻，颜究就免费送！
        </p>
        <h3>PS</h3>
        <p>每期活动都会放出不同的礼品，蹲点or比手速，我们都不管，只要你满足条件，即可免费领取N种美物哦。</p>
    </div>
</div>
<!-- 活动结束弹窗 -->
<div class="dialog gameover-dia">
    <i class="dia-close"></i>
    <h2>太晚了，活动已结束~</h2>
    <p class="text">想知道下期活动时间与奖品<br>请关注颜究院微信公众号</p>
    <img src="<{$static_path}>/images/code.png" alt="" class="code">
    <div id="copy_key_ios_nb" class="wxh-txt" data-taowords="tmshuo520"  style="display: block;">
        微信号：<span>tmshuo520</span>
    </div>
    <div class="copy-btn" id="nbcopy">
        <span id="copybtn" class="copybtn">复制</span>
        <div class="share-content" ></div>
    </div>
    <!-- <div class="copy-btn">复制</div> -->
</div>
<!-- 更新版本弹窗 -->
<div class="dialog version-dia">
    <h2>最新的版本才支持此次活动哦~<br>赶紧去市场更新吧！</h2>
    <a href="javascript:void(0);" class="btn" id="upd_version">我知道了</a>
</div>
<!-- 挤人弹窗 -->
<div class="dialog jiren-dia">
    <i class="dia-close"></i>
    <h2>你成功挤掉<{$playedNum}>人<br>获得了<i>碧柔卸妆水</i>一瓶！</h2>
    <a href="javascript:void(0);" class="btn">赶紧登记领奖</a>
</div>
<!-- 邀请不足弹窗 -->
<div class="dialog invite-dia">
    <i class="dia-close"></i>
    <h2>呜呜，你还需邀请好友助攻哦</h2>
    <div class="wxbtn">
        <a href="javascript:void(0);" class="wx-hy" id="share_hy_1">微信好友</a>
        <a href="javascript:void(0);" class="wx-pyq" id="share_pyq_1">微信朋友圈</a>
    </div>
</div>
<!-- 未邀请提示弹窗 -->
<div class="dialog invitel-dia">
    <i class="dia-close"></i>
    <h2>邀请链接已生成,赶快邀请好友助攻吧！</h2>
    <div class="wxbtn">
        <a href="javascript:void(0);" class="wx-hy" id="share_hy_2">微信好友</a>
        <a href="javascript:void(0);" class="wx-pyq" id="share_pyq_2">微信朋友圈</a>
    </div>
</div>
<!-- 领奖信息提交成功 -->
<div class="getinfosud-dia">
    <span class="dia-close"></span>
    <h2>提交成功</h2>
    <p>
        温馨提示：<br>
        奖品将在活动结束后5个工作日寄出，获奖名单以颜究院公众号发放为准。<br>
        请关注：<span>护肤颜究院（微信公众号）</span>
    </p>
</div>
<!-- 填写领奖信息 -->
<div class="writeinfo-dia">
    <h2>填写领奖信息</h2>
    <p class="ts">请登记你的收件信息，以保证奖品正常发放</p>
    <p class="tit">领奖人姓名：</p>
    <input type="text" name="" id="user_name">
    <p class="tit">手机号：</p>
    <input type="tel" name="" maxlength="11" id="user_phone">
    <p class="tit">收件地址：</p>
    <input type="text" name="" id="user_address">
    <a href="javascript:void(0)" class="submit" id="info-submit">提交</a>
</div>
<!-- 遮罩 -->
<div class="shade"></div>
<div class="cover"></div>
</body>
<script type="text/javascript" src="<{$static_path}>js/lib/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="<{$static_path}>js/lib/clipboard.min.js"></script>
<script src="<{$static_path}>js/pullnew.min.js"></script>
<script type="text/javascript">
    pull_new.initSize();
    pull_new.isUpdate(pull_new.getQueryString('version'));
    pull_new.isLogin();
    pull_new.indexInit();
</script>
<{$statisticalCode}>
</html>