<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>颜究院</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="<{$GLOBALS['static_path']}>h5/v103/css/style.min.css"/>
</head>
<body class="white-bg">
<div class="fourzf-box">
   <span class="img"></span>
   <p class="txt1">sorry，页面不小心迷路了～</p>
   <a href="javascript:history.back();" class="txt2">返回至刚才的页面&nbsp;&gt;</a>
   <p class="txt3">您也可以直接查看：<a href="/">首页</a><a href="<{Yii::$app->urlManager->createUrl(['tool/cosmetics'])}>">批号查询</a><a href="<{Yii::$app->urlManager->createUrl(['product/search','cateId'=>56])}>">热门产品</a></p>
   <a href="<{Yii::$app->urlManager->createUrl(['site/download-guide'])}>" class="btn"><i></i>下载颜究院，可以访问更多精彩页面</a>
</div>
<footer>
    Copyright 2017-2018 yjyapp.com，All right reserved.
</footer>
<script type="text/javascript" src="<{$GLOBALS['static_path']}>h5/v103/js/page.min.js"></script>
<script type="text/javascript">
    common.init();
</script>
</body>
</html>

